*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Container{
    height: 75vh;
    width: 73vw;
    background-color: blueviolet;
    display: flex;
    justify-content: left;
    align-items: end;
    padding: 5px;
}
.ball{
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 60px;
    text-align: center;
    line-height: 100px;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: Animation1 3s ease-in-out  infinite forwards;
}
@keyframes Animation1 {
    25%{
        transform: translateX(250px) translateY(-400px);
        background-color: orangered;
    }
    50%{
        transform: translateX(500px) translateY(0px);
        background-color: pink;
    }
    75%{
        transform: translateX(750px) translateY(-400px);
        background-color: red;
    }
    100%{
        transform: translateX(1000px) translateY(0px);
    }
}
