*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 80vh;
    width: 80vw;
    background-color: blueviolet;
}
.box{
    height: 100px;
    width: 150px;
    background-color: brown ;
}
.transform{
    transform: translateX(30vw) translateY(30vh);
    transition-property:transform ;
    transition-duration: 5s;
    transition-timing-function: ease-in-out;
    transition-delay: 1s;
}