body{
    background-color: black;
}
h1{
    text-transform: capitalize;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: red;
    color:#DEC20B;
}
.Fonts1{
    color: aliceblue;
    text-transform: capitalize;
    border: 2px solid red;
    text-align: center;
    font-family: Agbalumo;
    font-weight: 100;
}
