*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 80vh;
    width: 80vw;
    background-color: blueviolet;
    padding: 5px;
}
.box{
    height: 100px;
    width: 100px;
    background-color: whitesmoke;
    border-radius: 60px;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: Animation2 10s ease-in 2s 5;
    text-align: center;
    line-height: 95px;
}

@keyframes Animation2 {
    0%{
        transform: rotate(0deg);
        transform: translateX(0vw) translateY(0vh);
    }
    16.667%{
        transform: rotate(60deg);
        transform: translateX(11.667vw) translateY(8.37vh);
    }
    33.334%{
        transform: rotate(120deg);
        transform: translateX(14vw) translateY(10vh);
    }
    50.001%{
        transform: rotate(180deg);
        transform: translateX(17.5vw) translateY(12.5vh);
    }
    66.667%{
        transform: rotate(240deg);
        transform: translateX(23.37vw) translateY(1.667vh);
    }
    83.335%{
        transform: rotate(300deg);
        transform: translateX(35vw) translateY(25vh);
    }
    100%{
        transform: rotate(360deg);
        transform: translateX(70vw) translateY(50vh);
    }

}